@import "variables";
.archi-direction-rtl{
  direction: rtl;
}
.archi-accounts-padding-right p{
  text-align: justify;
}
.archi-accounts-nav a.selected{
  color: @archi-blue !important;
  pointer-events: none;
}
.archi-accounts-nav{
  background-color: @nav-color;
  font-size: 1.7em;
}
.archi-accounts-nav *{
  text-align: center;
}
.archi-accounts-nav a{
  color: @archi-yellow;
}
.archi-accounts-nav a:focus{
  text-decoration: none;
}
