@import "variables";

@media screen and (max-width: @media-md) {
  .archi-nav-menu-item img{
    display: none;
  }

  .archi-nav-menu-item div{
    visibility: visible !important;
    padding: 10px 5px;
  }

  .archi-nav-menu-items ul{
    margin-bottom: 0;
  }
}