@import "variables";
@import "mixins";

.rtl{
  direction: rtl;
}

.ltr{
  direction: ltr;
}
a{
  color: inherit;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color: inherit;
}

.archi-container{
  width: 100%;
}

.archi-navbar{
  background-color: @nav-color !important;
  align-items: center;

  > .col-8{
    padding-top: 25px;
    ul{
      width: 100%;
    }
  }
  > div:last-child{
    align-self: flex-start;
  }
}

.archi-nav-menu-items{
  overflow-x: auto;
}

.archi-navbar-container ul{
  display: inline-flex;
  list-style: none;
  text-align: center;
  width: 100%;
  padding-left: 0;
}

.archi-nav-menu-item{
  width:100%;
}

.archi-nav-menu-item  .nav-label{
  visibility: hidden;
}

.archi-nav-menu-item:hover .nav-label{
  visibility: visible;
}

.archi-photo-container .photo{
  width: 100%;
  .border-radius(10px);
  border-width: @photo-border-width @photo-border-width 0 @photo-border-width;
  border-style: solid;
  border-color: white;

  .transition(@ease-time);
}

.archi-photo-container > div{
  position: absolute;
  bottom: 0;
  height: 0;
  overflow: hidden;
  background-color: @nav-color;
  width: 100%;
  border-width: 0 @photo-border-width 0 @photo-border-width;
  border-style: solid;
  border-color: white;
  padding: 0 5px;

  .transition(@ease-time);
}

.archi-photo-container:hover > div{
  height: @photo-toolbar-height;
  border-bottom: @photo-border-width;
}

.archi-photo-container:hover .photo{
  .border-radius(0);
}

@media (max-width: 768px) {
  //.archi-photo-container > div{
  //  height: @photo-toolbar-height;
  //  border-bottom: @photo-border-width;
  //}
  //
  //.archi-photo-container .photo{
  //  .border-radius(0);
  //}
  //.archi-photo-container.small > a > img{
  //  margin-top: -@photo-toolbar-height;
  //}
  //
  //.archi-photo-container.small > a > div{
  //  margin-top: -@photo-toolbar-height;
  //}
  //.archi-photo-container{
  //  margin-bottom: 100px;
  //}
}

.archi-photo-container{
  position: relative;
  margin-bottom: @photo-border-width;
}

.archi-photo-container > a > div{
  position: absolute;
  width: 100%;
  color: white;
  text-shadow: 0 1px 10px black;
  font-size: 1.5em;
  padding: 10px;
}

.archi-photo-container.large > a > div {
  top: 50%;
  .translate(0, -50%);
}

.archi-photo-container.small > a > div {
  top: 100%;
  .translate(0, -100%);
}

.archi-photo-container.large{
  height: @small-photo-height * 2 + @photo-border-width;
  overflow: hidden;
}

.archi-photo-container.large .photo{
  height: @small-photo-height * 2 + @photo-border-width;
  object-fit: cover;
}

.archi-photo-container.small{
  height: @small-photo-height;
}

.archi-photo-container.small .photo{
  height: @small-photo-height;
  object-fit: cover;
}

.archi-photo-container.small:hover > a > img{
  margin-top: -@photo-toolbar-height;
}

.archi-photo-container.small:hover > a > div{
  margin-top: -@photo-toolbar-height;
}

.archi-photo-container.small > a > div{
  .transition(@ease-time);
}

.archi-no-padding{
  padding: 0 !important;
}

.archi-logo img{
  width: 70%;
  float: left;
}

.archi-align-right{
  text-align: right;
}

.archi-nav-menu-item input.form-control{
  position: absolute;
  left: 10px;
  top: 10px;
  height: 52px;
  z-index: 0;
  width: 0px;
  border-radius: 10px !important;

  .transition(@ease-time);
}

.archi-nav-menu-item input.form-control:focus{
  width: 100%;
  z-index: 0;
  padding-left: 55px;
}

.archi-nav-menu-item .input-group-btn{
  z-index: 1;
}

.archi-no-margin-bottom{
  margin-bottom: 0;
}

#nav-search-container li:last-child{
  position: absolute;
  right: 0;
}

#nav-search-container{
  position: relative;
}

#nav-search-container .nav-label span{
  float: left;
  margin-left: 14px;
}

ul.horz-list{
  display: inline-flex;
  list-style: none;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.archi-4-photo-row{
  margin-bottom: 10px !important;

  & > div{
    padding: 0;
  }
}

ul.vert-list{
  list-style: none;
  padding: 0;
}


.archi-vertical-middle{
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}

.archi-vertical-middle.left{
  left:0;
}

.archi-vertical-middle.right{
  right:0;
}


.archi-horizental-center{
  position: absolute;
  left: 50%;
  .translate(-50%, 0);
}

.archi-horizental-center.bottom{
  bottom: 10%;
}

.archi-horizental-center.top{
  top: 10%;
}

.btn-white{
  background-color: @archi-white;
  color: @archi-blue;
  .border-radius(10px);
}

.btn-blue{
  background-color: @archi-blue;
  color: @archi-white;
  .border-radius(10px);
}

.btn-yellow{
  background-color: @archi-yellow;
  color: @archi-white;
  .border-radius(10px);
}

.btn-grey{
  background-color: @nav-color;
  color:@archi-blue;
  .border-radius(10px);
}

.archi-uppercase{
  text-transform: uppercase;
}

.archi-no-padding-right{
  padding-right: 0;
}

.archi-no-padding-left{
  padding-left: 0;
}

.archi-yellow{
  color: @archi-yellow;
}

.archi-input-group{
  position: relative;
  height: 100%;
  display: flex;
  .border-radius(@border-radius);
  overflow: hidden;
  width: 100%;

  & > span {
    position: absolute;
    height: inherit;
    text-align: center;
    background-color: @archi-yellow;
    padding: 5px 10px;

    label {
      display: block;
      font-weight: normal;
      margin: auto;
      max-width: none;
    }
  }

  & > input{
    width: 100%;
  }
}

.archi-photo-container .toolbar{
  & > div:last-child{
    padding: 0 10px;
  }

  .archi-row{
    padding: 10px;
    justify-content: space-between;
    align-items: center;
  }
  .user-details{
    display: flex;

    img{
      width: 40px;
      height: 40px;

      &:after{
        content: " ";
      }
    }

    span{
      white-space: nowrap;
      margin: auto;
      font-weight: bold;
    }
  }

  .actions{
    display: flex;

    button{
      padding: 0;
      background-color: transparent;
      border: none;
    }
  }
}

.ltr .archi-photo-container .toolbar{
  .user-details{
    img{
      padding-right: 5px;
    }
  }
}

.rtl .archi-photo-container .toolbar{
  .user-details{
    img{
      padding-left: 5px;
    }
  }
}

input, textarea{

  .border-radius(@border-radius);
  border: none;
}

.archi-profile-avatar{
  width: 80px;
  height: 80px;
  margin-left: 5px;
  margin-right: 5px;
  img{
    width: 100%;
  }
}
legend{
  font-size: 1em;
  font-weight: bold;
  border-bottom: 0;
}