@import "variables";
@import "mixins";

.archi-comment-form-container{
  background-color: @archi-yellow;
  .border-radius(10px);
  display: table;
  width: 100%;
  padding: 5px;
  margin-bottom: 40px !important;

  .col-3{
    display: table-cell;
    float: none;
    vertical-align: bottom;
    text-align: center;
    padding-right: 5px !important;

    & > div{
      font-size: 0.8em;
      margin-bottom: 5px;
    }
  }


  .col-9{
    display: table-cell;
    float: none;
    vertical-align: bottom;

    textarea{
      resize: none;
      width: 100%;
      vertical-align: bottom;
      border: none;
      .border-radius(10px);
      background-color: @archi-yellow-mellow;


      &:active,&:focus{
        outline:0px !important;
        -webkit-appearance:none;
      }
    }

  }
}

.archi-comment-container{
  background-color: @nav-color;
  border-radius: 10px;
  margin-top: 10px !important;
  position: relative;

  .col-1{
    position: relative;
  }
  .col-11{
    padding-left: 30px;
  }


}