@import "variables";

.archi-discussion-editor-container{
  background-color: @nav-color;
  padding: 30px 10px 5px 10px;
  margin-bottom: 15px;

  label{
    margin: 0 10px;
  }
  .title{
    text-align: end;
    margin-bottom: 15px;

    input{
      width: 70%;
    }
  }

  .problem-statement{
    display: flex;
    justify-content: flex-end;

    textarea{
      width: 70%;
    }
  }
  .editor-toolbar{
    display: flex;

    > div{
      width: 100%;
    }
    ul{
      margin: 0;
    }
  }
}
.archi-discussion-top-commenter{
  padding: 15px;
  width: 40%;
  background-color: @nav-color;
  margin-bottom: 30px;

  ul.horz-list{
    width: 100%;
    li{
      width: 100%;
      border-bottom: 10px solid grey;
      color: grey;
      &.active{
        border-bottom-color: @archi-yellow;
        color: black;
        font-weight: bold;
      }
    }
  }
}

.archi-top-commenter{
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  img{
    width: 40px;
    height: 40px;
  }
  span{
    flex-grow: 1;
    padding: 0 5px;
  }

}
.navigation{
  text-align: end;
}



.archi-discussion-search-card-container{
  display: flex;
  background-color: @nav-color;
  min-height: 165px;
  margin-bottom: 20px;

  > div{
    width: 100%;

    > div{

    }
  }
  .content{
    padding: 20px;
    width: 70%;

    > div:first-child{
      display: flex;
      justify-content: space-between;
      > p{
        font-size: 1.7em;
      }
    }
    > div:last-child{
      display: flex;
      justify-content: space-around;

      .commenter {
        display: flex;
        align-items: center;
        > div:first-child{
          img {
            width: 40px;
          }
        }
        > div:last-child{
          padding: 5px;
        }
      }
      .comment{
        background-color: white;
        padding: 10px;
        position: relative;
        width: 70%;

        &:before{
          content: '';
          position: absolute;
          top: 6px;
          right: -9px;
          /* margin-left: -49px; */
          width: 0;
          height: 0;
          border-top: solid 10px transparent;
          border-bottom: solid 10px transparent;
          border-left: solid 10px white;
        }
      }

    }

  }

  .photo{
    width: 30%;

    img{
      width: 100%;
      height: 100%;
    }
  }
}
