.archi-row{
  display: flex;
  flex-wrap: wrap;
  @media (min-width: 768px) {
    .col-1{
      width: percentage(1/12);
    }
    .col-2{
      width: percentage(2/12);
    }
    .col-3{
      width: percentage(3/12);
    }
    .col-4{
      width: percentage(4/12);
    }
    .col-5{
      width: percentage(5/12);
    }
    .col-6{
      width: percentage(6/12);
    }
    .col-7{
      width: percentage(7/12);
    }
    .col-8{
      width: percentage(8/12);
    }
    .col-9{
      width: percentage(9/12);
    }
    .col-10{
      width: percentage(10/12);
    }
    .col-11{
      width: percentage(11/12);
    }
    .col-12{
      width: percentage(1);
    }
  }
}
@media (max-width: 768px){
  .col-1{
    width: percentage(1);
  }
  .col-2{
    width: percentage(1);
  }
  .col-3{
    width: percentage(1);
  }
  .col-4{
    width: percentage(1);
  }
  .col-5{
    width: percentage(1);
  }
  .col-6{
    width: percentage(1);
  }
  .col-7{
    width: percentage(1);
  }
  .col-8{
    width: percentage(1);
  }
  .col-9{
    width: percentage(1);
  }
  .col-10{
    width: percentage(1);
  }
  .col-11{
    width: percentage(1);
  }
  .col-12{
    width: percentage(1);
  }
}