@import "variables";
.archi-profile-ideabox-overview-card{
  display: flex;
  background-color: @nav-color;

  > div.col-9{
    display: flex;
    max-height: 108px;
    overflow: hidden;
    img{
      width: 100%;
      border: 1px solid white;
    }
  }
  > div.col-3{
    color: @archi-blue;
    padding: 5px;
  }
}