@import "variables";

.archi-login-container{
  margin-top: 15px !important;
}

.archi-inner-container.login > div:first-child{
  float: right !important;
}

.archi-inner-container.login > div:nth-child(2){
  float: right !important;
}

.archi-oauth-container.login{
  float: left !important;
  text-align: left;
  direction: rtl;
}

.archi-oauth-container.login > div:first-child{
  margin-top: 70px;
  margin-bottom: 15px;
}

.archi-oauth-container.login > div:first-child span:first-child{
  margin-left: 31px;
}

.archi-oauth-container.login > div:nth-child(2) span:first-child{
  margin-left: 20px;
}

.archi-oauth-container.login > div:nth-child(3){
  margin-top: 20px;
  margin-bottom: 20px;
  color: @archi-yellow;
}

.archi-oauth-container.login > div:last-child p{
  text-align: justify;
}

.archi-inner-container.login form{
  direction: rtl;
  margin-top: 70px;
}
.archi-inner-container.login input{
  background-color: @nav-color;
}
.archi-inner-container.login form > div:last-child{
  margin-top: 20%;
}
.archi-inner-container.login form div:last-child button{
  float: right;
  width: 40%;
  background-color: @archi-yellow;
  text-align: center;
}
.archi-inner-container.login form div:last-child div{
  position: absolute;
  left: 0;
  bottom: 0;
}
.archi-inner-container.login form div:last-child > *{
  float: left;
}
