@import 'variables';
@import 'mixins';

.archi-navbar{
    display: flex;
    overflow: hidden;
    background-color: @archi-yellow;
    margin-top: 10px;
    justify-content: space-between;
    
    .border-radius(@border-radius);

    .archi-avatar span{
        padding: 0 10px;
    }

    .archi-avatar img{
        width: 51px;
    }
}

.archi-notification-container{
    height: 92px;
}

.archi-navbar-container{
    position: relative;
}

.ltr .archi-notification-panel{
    .horz-list{
        direction: rtl;
    }
}

.rtl .archi-notification-panel{
    .horz-list{
        direction: ltr;
    }
}

.archi-notification-btn{
    background-color: transparent;
    border: none;

    & > i{
        float: right;
        padding: 2px 0;
        color: @archi-blue;
        font-size: 25px;
    }

    & > span{
        padding: 0 5px;
        background-color: @archi-yellow;
        color: @archi-white;
        position: relative;
        top: 5px;
        margin-right: 7px;
        .border-radius(2px);

        span{
            position: absolute;
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-left: 6px solid @archi-yellow;
            border-bottom: 5px solid transparent;
            top: 50%;
            right: -5px;
            transform: translateY(-50%);
        }
    }
}

.archi-notification-btn.mute{
    & > span {
        display: none;
    }

    & > i {
        color: white !important;
    }
}
.archi-avatar{
    height: 71px;
}

.archi-navbar-search{
    background-color: @archi-blue;

}
.archi-before-search{
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url("/images/assets/magnifying-glass.svg");
    background-size: cover;
}