@import "variables";

.archi-related-photos-container{
  margin-bottom: 20px;

  img{
    width: 100%;
    border-radius: 10px;
  }

  .header{
    width: 100%;
    padding: 5px;
  }

  & > div.col-4{
    padding: 5px !important;
  }
}

.archi-photo-page-container{
  position: absolute;
  top: 0;
  height: 100%;
  div.col-8{
    position: relative;
    background-color: @nav-color;
    z-index: 10;
    height: 100%;

    & > img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      max-width: 100%;
    }
  }

  .horz-list{
    li{
      margin:0 5px
    }
  }

  div.col-4{
    background-color: white;
    z-index: 10;
    height: 100%;
    overflow: auto;
    padding-right: 40px;
    padding-left: 40px;
  }
}


