@import "variables";
@import "mixins";
@head-cell-width: 278px;

.archi-profile-head{

    > .col-9{
        justify-content: space-between;

        > .col-5{
            position: relative;

            > ul{
                position: absolute;
                bottom: 0;
            }
        }
    }

    .profile-pic{
        width: 100%;
    }

    .profile-description{
        color: @color-description;
    }

    p{
        padding: 0 0 5px;
    }

    .rating i{
        color: @archi-yellow;
    }

    & > div {
        padding: 5px;
    }

    & > div:first-child {
        //width: @head-cell-width;
        padding-left: 10px;
    }

    & > div:last-child {
        //width: @head-cell-width;


        .social {
            font-size: x-large;

            li {
                padding: 0 5px;
            }

            li:first-child{
                padding-left: 0;
            }
        }
    }
    .edit-buttons{
        display: flex;
        justify-content: space-between;
        button{
            width: 48%;
        }
    }
}

.archi-profile-card-container{
    margin-top: 20px;
    margin-bottom: 50px;
    align-items: flex-end;

    .col-5:last-child span:first-child{
        color: @archi-yellow;
    }

    & > .col-5{
        padding: 5px;
    }

    img{
        width: 100%;
        .border-radius(10px);
    }
}

.archi-profile-search-card-container{
    background-color: @nav-color;

    img{
        width: 100%;
        border: 1px solid white;
    }

    button {
        margin: 5px;
    }

    & > .archi-row:first-child{
        & > .col-6:first-child{
            padding: 10px;
            display: flex;
            flex-wrap: wrap;
            > *{
                width: 100%;
            }
            > div:last-child{
                text-align: center;
            }
        }
    }

}

.archi-profile-search-card-row{
    margin-bottom: 30px;
    margin-top: 30px;
}


.archi-profile-page-navbar{

    .selected{
        color: @archi-blue;
    }

    ul{
        display: inline-flex;
        list-style: none;
        width:100%;
        padding-left: 10px;
        background-color: @nav-color;

        li{
            width: 100%;
            text-align: center;
            padding: 3px;

            a{
                color: @archi-yellow;

                &:focus{
                    text-decoration: none;
                }
            }
        }
    }
}


.archi-profile-page-sidebar{

    .counts {
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 0.9em;
        line-height: 3em;

        .second-child {
            float: right;
        }

    }

    &.edit {
        & > div:first-child {
            display: flex;
            justify-content: space-between;
            button {
                width: 48%;
                &:last-child {
                    float: right;
                }
            }
        }

    }


    button{
        width:45%;
    }

    div{
        button:last-child{
            float: right;
        }
        &.second-button-row{
            margin-top: 20px;
            margin-bottom: 50px;
        }
    }



}