@import "variables";

.archi-project-overview-card{
  width: 49%;
  max-height: 375px;
  overflow: hidden;

  >div:first-child{
    position: relative;
    border-top: @photo-border-width solid white;
    border-right: @photo-border-width solid white;
    border-left: @photo-border-width solid white;
    img{
      width: 100%;
    }
    > div{
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      color: white;
      padding: 15px;
      button{
        border: @photo-border-width solid white;
        background: none;
      }
    }
  }
  ul{
    width: 100%;
    li{
      width: 100%;
      border: 1px solid white;
      overflow: hidden;
      height: 150px;
      img{
        width: 100%;
      }
    }
  }
}
.archi-profile-projects-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}