@import "variables";
@import "mixins";

.archi-wz-container{
  border: 3px solid @archi-yellow;
  .rounded(10px);
  width: 100%;
  overflow: hidden;

  .question{
    display: flex;
    width: 50%;
  }
  .stepsGuide{
    display: flex;
    justify-content: space-around;
  }
  form{
    background-color: @nav-color;
    padding: 10px 30px;

    .archi-table{
      display: flex;
      flex-direction: column;
      margin: 0 30px;
      width: 60%;
    }
    .archi-table-row{
      display: flex;
    }
    .archi-table-cell{
      flex-grow: 1;
      padding: 5px;

      &.end{
        text-align: end;
      }
      &.textarea{
        display: flex;
        textarea{
          flex-grow: 1;
        }
      }
    }
    .checkbox-radio{
      display: flex;
      > label{
        flex-grow: 1;
      }
    }
    fieldset{
      margin-top: 20px;
    }
    .hastam{
      position: absolute;
      left: -10%;
      top: 50%;
      transform: translateY(-50%);
    }
    .hastam-container{
      position: relative;
    }
  }

}






.archi-register-container{
  display: flex;
  justify-content: center;
  margin: 40px auto 0;
  width: 80%;

  .stepsGuide{
    display: flex;
    justify-content: space-around;
    background-color: @archi-yellow;

    div{
      color: white;
    }
  }
}

.archi-choose-account-type-container{
  display: flex;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;

  button{
    padding: 20px;
    border: none;
    outline: none;
    background-color: @nav-color;
    .content{
      width: 300px;
    }
    div{
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
  .circle{
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid;
  }
  .border-blue{
    border-color: @archi-blue;
  }
  .border-yellow{
    border-color: @archi-yellow;
  }
  .text-blue{
    color: @archi-blue;
  }
}
.archi-user-info-step-container{
  padding: 0 30px;



  .stepsForm{
    background-color: @nav-color;
    padding: 30px 10px 110px 10px;

    .personal-info{
      width: 75%;

      > div{

      }
      > div:first-child{
        > div:last-child{
          margin: 0 11px;
        }
      }
      > div:last-child{
        margin-top: 10px;
        > div:last-child{
          margin: 0 100px;
        }
      }
    }
    .address-info{
      padding-right: 90px;
      padding-left: 90px;
      margin-top: 10px;

      > div{
        margin: 0 30px;
      }
      > div:first-child{
        > div:last-child{
          margin: 0 48px;
        }
      }
      > div:nth-child(2){
        margin-top: 10px;
        > div{
          display: flex;
          textarea{
            width: 418px;
          }
        }
      }
      > div:last-child{
        margin-top: 10px;
      }
    }
    .next-step{
      position: relative;

      button{
        position: absolute;
        left: 100px;
      }
    }
  }
}

