@import "variables";
.archi-othersReviews-overViewCard-container{
  margin-top: 60px;

  .reviewer-info{
    > div:first-child{
      display: flex;
      align-items: baseline;

      img{
        width: 45px;
        border-radius: @border-radius;
      }
      span{
        font-size: 2em;
        margin-right: 10px;
        margin-left: 10px;
      }
    }
    > div:last-child{
      font-size: 1.5em;
    }
  }
  .star-rating{
    font-size: 2.5em;
    color: @archi-yellow;
    margin-top: 30px;
  }
  .project-info{
    margin-top: 30px;

    .yellow{
      color: @archi-yellow;
    }
  }
  .content{
    margin-top: 30px;
    text-align: justify;
  }
}