@import "variables";

.archi-search-header-image img{
  width: 100%;
}

.archi-search-padding-right p{
  text-align: justify;
}
.archi-search-nav a.selected{
  color: @archi-blue !important;
  pointer-events: none;
}

.archi-search-nav{
  background-color: @nav-color;
  font-size: 1.7em;
  direction: rtl;
  margin-bottom: 50px;
}
.archi-search-nav *{
  text-align: center;
}
.archi-search-nav a{
  color: @archi-yellow;
}

.archi-search-nav a:focus{
  text-decoration: none;
}

.archi-display-table{
  display: table;
}

.archi-row.archi-display-table [class *= "col-"]{
  display: table-cell;
  float: none;
}

.archi-header-body{
  vertical-align: bottom;
  direction: rtl;
}

.archi-header-body p{
  text-align: justify;
}

.archi-search-container{
  margin-top: 15px !important;
}

.archi-search-nav > .col-3 {
  float:right;
}

.archi-image-search .archi-photo-container{
  margin: 0;
}

.archi-pros-search-toolbar{


  .col-2{
    button{
      width:100%;
    }
  }


  input{
    background-color: @nav-color;
    outline: none;
    box-shadow: none !important;
    border:1px solid #ccc !important;
  }


}
