@import "variables";

.archi-inner-container.signup form{
  direction: rtl;
  margin-top: 70px;
}
.archi-inner-container.signup input{
  background-color: @nav-color;
}
.archi-inner-container.signup form > div:last-child{
  margin-top: 20%;
}
.archi-inner-container.signup form div:last-child button{
  float: right;
  width: 40%;
  background-color: @archi-yellow;
  text-align: center;
}
.archi-inner-container.signup form div:last-child div{
  position: absolute;
  left: 0;
  bottom: 0;
}
.archi-inner-container.signup form div:last-child > *{
  float: left;
}


.archi-oauth-container.signup{
  float: left !important;
  text-align: right;
  direction: rtl;
}

.archi-oauth-container.signup > div:first-child{
  margin-top: 70px;
  margin-bottom: 15px;
}

.archi-oauth-container.signup > div:first-child span:first-child{
  margin-left: 31px;
}

.archi-oauth-container.signup > div:nth-child(2) span:first-child{
  margin-left: 20px;
}

.archi-oauth-container.signup > div:last-child{
  margin-top: 60px;
}

.archi-oauth-container.signup > div:last-child p{
  text-align: justify;
}