@import "variables";


.story-card-container{
  background-color: @nav-color;
  margin-bottom: 20px !important;
  min-height: 200px;
}

.story-card-container img{
  width: 100%;
}

.story-card-container .col-8{

}

.story-card-container .col-4{

}

.story-card-container .col-8 .body{

  top: 0;
  right: 0;
  width: 100%;
  padding: 10px;
}

.story-card-container .col-8 .footer{

  bottom: 0;
  right: 0;
  width: 100%;
  padding: 10px;
}

.story-card-container .col-8 .archi-row .col-2{

}

.story-card-container .col-8 .archi-row .col-6{
  text-align: end;
}

.story-card-container .col-8 .archi-row .col-6 > span{
}

.story-card-container .col-8 .archi-row .col-2 > span i{
  font-size: 2em;
}