@import "variables";
.archi-team-section-container{
  margin-top: 30px;

}
.archi-team-overview-card-container{
  display: flex;
  align-items: flex-end;
  background-color: @nav-color;
  padding: 10px;

  .team-img{
    img{
      height: 120px;
      width: 100%;
    }
  }
  .team-info{
    padding-left: 10px;
    padding-right: 10px;

    > div:first-child{
      font-weight: bold;
      font-size: 1.2em;
    }
    .buttons{
      display: flex;
      justify-content: space-between;
    }
  }
  .team-members{
    display: flex;
  }
}