@nav-color: rgb(235,234,232);
@media-md: 991px;
@ease-time: 500ms;
@small-photo-height: 187px;
@archi-blue: rgb(72,86,108);
@archi-yellow: rgb(223,188,130);
@archi-white: white;
@color-description: gray;
@border-radius: 7px;
@archi-yellow-mellow: rgb(250,237,228);

//PhotoContainer
@photo-toolbar-height: 100px;
@photo-border-width: 1px;
